* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
  margin: 50px auto;
  justify-content: center;
}

.cella {
  background-color: rgb(20, 100, 125);
  border: solid 2px white;
}

h1,
footer {
  text-align: center;
}
